.footer__column-link {
  color: white;
  line-height:30px;
  font-size: 18px;
  font-weight:normal;
  text-decoration:none;
  padding: 0;
  margin: 0;
  transition-property: opacity, left, top, height;
  transition-duration: 1s, 3s;
}

.footer__column-link:hover {
  opacity: 0.5;
}
