.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #2f80ed;
  text-decoration:none;
  z-index: 1;
  transition-property: opacity, left, top, height;
  transition-duration: 1s, 3s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
